


  

  
  /* Estilos para el formulario */
  #formulario {
    margin-top: 180px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 2px solid #39A900 ;
    margin-left: 90px;
   
    
  }
  
  /* Estilos para los elementos del formulario */
  ion-item {
    margin-bottom: 15px;
    border-radius: 20px;
    border: 2px solid #39A900 ;
  }
.año{
  text-align: center;
  color: #FFFFFF;
  margin-top: 721px;
  font-size: 35px;
}


.yuyo{
  background:  #39A900;
}

.kilo{
--background: #FFFFFF;
}

ion-row{
  height: 100PX;
}
.imagen{
  position: absolute;
  margin-left: 160px;
  margin-top: 80px;
}
.vovo{
  margin-left: 70px;
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
  height: 40px;
}

.uno{
  margin-top: 100px;
}
.boton-redondo {
  position: absolute;
  border-radius: 100px;
 width: 150px;
 height: 150px;
 border: 2px solid #39A900  ;

}